<template>
     <b-container fluid>
        <menunav/>
        <b-row>  
            <b-col cols=3><pendientespago/> </b-col>
             <b-col>
                <b-row><b-col cols= 7><buscaproducto /></b-col></b-row> 
                 <b-row><b-col v-bind:class="'notaconsumo'" cols= 7 ><notaconsumo :items2="items2" /></b-col></b-row>
            </b-col>    
            <b-col cols=2><h1>----------------TOTAL-------------</h1></b-col>
        </b-row>

        <b-row>
            <b-col cols= 2>
                <footer v-bind:class="'footer'">
                    <formapago/>
                </footer>
            </b-col>
        </b-row> 
     </b-container>
     
</template>

<script>
import menunav from "@/components/MenuNav.vue"; 
import notaconsumo from "@/components/NotaConsumo.vue"; 
import pendientespago from "@/components/PendientesPago.vue"; 
import formapago from "@/components/FormaPago.vue"; 
import buscaproducto from "@/components/BuscaProducto.vue"; 
import encabezado from "@/components/Encabezado.vue"; 


export default {
    components: {
        menunav,
        notaconsumo,
        formapago,
        pendientespago,
        buscaproducto,
        encabezado
    },    
    data(){
        return{
           items2: [
            { concepto: 'Consulta médica 2', Cant: 1, Precio: '$4000', Total: 4313},
            { concepto: 'Servicio Podológico 2', Cant: 1, Precio: '$350', Total: 3517},
            { concepto: 'Cryopharma anti verrugas 50ml 2', Cant: 1, Precio: '$380', Total: 3812 },
            { concepto: 'Ciclochen pomada 50g 2', Cant: 1, Precio: '$380', Total: 3181 },
            { concepto: 'Veselix 20% Salicilico', Cant: 1, Precio: '$390', Total: 3194 }
            ],
        }
    },
    created(){

    }

}
</script>

<style scopped>
header {
            width: 100%;
			height: 0px;
			border: 0px;
			display: block;
}
.footer{
   
    position: fixed;
    bottom: 0;
 
    background-color: rgb(175, 197, 174);
}

</style>
