<template>

 <b-container v-bind:class="'contenedor'">
  <b-form  autocomplete='off'>
    <b-form-group>
        <label v-bind:class="'setColor'" for="message-user">{{ mensaje }}</label>
    </b-form-group>
    <b-form-group>
        <label for="text-user">Usuario</label>
        <b-input v-bind:class="'input'" v-model="form.usr"  id="feedback-user" ></b-input>
    </b-form-group>

    <b-form-group >
        <label for="text-password">Password</label>
        <b-input v-bind:class="'input'" type="password" id="text-password" v-model="form.pwd"  aria-describedby="password-help-block"></b-input>
        <b-form-text id="password-help-block">
            La contraseña dene tener entre 8-20 caracteres de longitud, contener letras y numeros y no debe contener espacioes, caracteres especiales o emoji.
        </b-form-text>
    </b-form-group>
    <b-form-group v-bind:class="'botones'">
        <b-button v-bind:class="'button'" type="submit" variant="primary" v-if = "enviando===false" @click="onSubmit"    :disabled='habilitado'>Entrar</b-button>
        
        <b-button v-bind:class="'button'" type="submit" variant="primary"  v-if = "enviando===true"  :disabled='true'>
          <span class="spinner-border spinner-border-sm"></span>
          Loading...
        </b-button>
    </b-form-group >


   </b-form>
 </b-container>
</template>

<script>
//import axios from "axios";
import store from '../store'
import Router from 'vue-router';
import { setTimeout } from 'timers';

export default {
    name: 'acceso',
    data(){
        return{
            form: {
                usr : "" ,
                pwd : ""
            },
            habilitado: false,
            mensaje : "Introduzca sus credenciales",
            enviando: false,
            acceso: false,
            setColor: 'success'

        }
    },
    methods: {
      
        onSubmit(evt){
            this.enviando = true;
            evt.preventDefault();
            const loginData =  {XAPIKEY: 'Ve5muByyKs54wpm62d73lHEwDnXKGiYH1v6G7123',usuariosusr: this.form.usr, usuariospwd: this.form.pwd} ;
            //this.habilitado = !this.habilitado;
            
            if (store.getters.authStatus === 'success') {
              this.$router.replace({ name: 'inicio' })
            }  else {
             
              
                this.$store
                  .dispatch('login', loginData)
                  .then(() => {
                        if (store.getters.authStatus ==='siserror'){
                          this.mensaje = 'Error de conexión a base de datos';
                          setTimeout (()=> {
                                this.mensaje = 'Introduzca sus credenciales';
                                this.form.pwd="";
                            }, 3000);
                            this.enviando = false;
                        }

                        if (store.getters.authStatus === 'error') {
                        this.mensaje = 'Usuario y contraseña incorrectos, intente de nuevo';
                        setTimeout (()=> {
                            this.mensaje = 'Introduzca sus credenciales';
                            this.form.pwd="";
                        }, 3000);

                        this.enviando = false;
                      } 
                      
                       if (store.getters.authStatus ==='success'){
                             this.$router.replace({ name: 'inicio' })
                       }
                  }  
                  
                  )
                  .catch((err) => {
                    console.log(err);
                    
                    
                  });
                  
            }
        },
        onReset(evt){
            evt.preventDefault();
            
            //this.form.usr="";
            this.form.pwd="";
           
             // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
            this.show = true
            });
        }
        
    }    
}
</script>

<style scoped lang="scss">
/*.formulario {
  width  : 20%;
  margin : 0 auto;
}
*/
 .contenedor {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    .container-loading {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,.3);
      img {
        width: 2rem;
        height: 2rem;
      }
    }
.formulario {
      display: flex;
      flex-flow: column;
      *:not(:last-child) {
        margin-bottom: 1rem;
      }
      
.input {
        padding: .5rem;
      }
      

    }
  }



</style>
