<template>
 <b-container fluid>
    <b-row>
        <b-col cols=11><b-form-input id="buscaproducto" v-model="buscaproducto" type="text"></b-form-input></b-col>
        <b-col cols=1><b-button  type="submit" variant="success"  @click="buscar"  >Buscar</b-button></b-col>
        
    </b-row>    
    
 </b-container>    
</template>

<script>
export default {
    data(){
        return{
            buscaproducto: ''
        }
    },
    methods:{
        buscar(){
            
        }
    }
}
</script>

<style>

</style>
