<template>
    <header>
         <p>ESTE ES EL HEADER</p>
    </header>
</template>

<script>
import store from '../store'

export default {
   
    data(){
        return{

        }
    }

}
</script>

<style>


</style>
