<template>
  <b-navbar class="sidebar" toggleable="lg" type="dark" variant="success">
    <b-navbar-brand href="#">Beria (logo) </b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item @click="opcInicio" href="">Inicio</b-nav-item>
      </b-navbar-nav>
      <b-navbar-nav>
        <b-nav-item @click="opcCaja" href="">Caja</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template slot="button-content"><em>{{ perfil }}: {{ username }}</em></template>
          <b-dropdown-item @click="opcSalir" href="">Salir del Sistema</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import store from '../store'

export default {
     //name: 'menunav',
     data(){
         return{
             username: '',
             perfil:'',
             baseurl: '',
         }
     },
     created: function () {
        console.log(store.getters.infoUsuario);
         this.username = store.getters.infoUsuario.usuarios_nbr
         this.perfil = store.getters.infoUsuario.perfil_nbr
         //this.baseurl = store.getters.baseUrl
     },
     methods: {
         opcInicio(){
             this.$router.replace({ name: 'inicio' })
         },
         opcCaja(){
             this.$router.replace({ name: 'caja' })
         },
          opcSalir(){
             this.$store
                  .dispatch('logout')
                  .then(()=>{
                    this.$router.replace({ name: 'login' })
                  
            })
         }

     }
}
</script>

<style>

</style>
