<template>

  <div v-bind:class="'productos'">
    
        <b-table striped hover :items="items2"></b-table>
      
        <h1> Total: <strong>${{ total }}</strong></h1>
    
    <b-button  type="submit" variant="success"  @click="agregar"  ></b-button>
    
  </div>

</template>

<script>

export default {
    props: {
      items2: {
        concepto: String,
        Cant: Number,
        Precio: String,
        Total: Number
      }
    },
    data(){
        return{
            total: 0,
            nuevoarray: { concepto: 'Nuevo producto', Cant: 1, Precio: '$390', Total: 134 }  
        }
    },
    created(){
        
    },
    methods: {
        agregar() {
            this.items2.push (this.nuevoarray);
            this.total += this.nuevoarray.Total;
        },
        suma() {
              
             this.items2.forEach(x => {
                 console.log(x);
                 this.total += x.Total;
             }); 

        }
    },
    created(){
        this.suma();
    }
}
</script>

<style>
.productos{
    width:100%;
    height:450px;
    overflow:auto;
}
</style>
