<template>
 <div>
    
    <b-card-group deck>
        <b-card header="Pacientes pendientes por pagar">
          <b-list-group  >
            <b-list-group-item @click="onSelect" variant="success" href="#" v-for="(p,index) in pendientes" :key='index' > {{ p.pacientes }}</b-list-group-item> 
          </b-list-group>
        </b-card>
    </b-card-group>

  </div>
</template>

<script>
export default {
  data() {
    return{
      pendientes: [
            { 'pacientes': '1.- Marcos Meza' },
            { 'pacientes': '2.- Julio Serrano' },
            { 'pacientes': '3.- Hector Cruz' },
            { 'pacientes': '4.- Julio Aguilar' },
            { 'pacientes': '5.- Hector Valdez' },
            { 'pacientes': '6.- Juan Perez' }
      ]
    }
  },
  methods:{
   onSelect (env){
        console.log(env)
   }
}

}

</script>

<style>

</style>
