<template>
  <b-container fluid>
     <menunav/>
  </b-container>
</template>

<script>
import menunav from "@/components/MenuNav.vue"; 

export default { 
 components: {
        menunav
    },    
    data(){
        return{
           
        }
    }
}
</script>

<style scoped>

</style>
