<template>
  <div>
      <acceso />
  </div>
  
</template>

<script>

import acceso from "@/components/Acceso.vue";

export default {
 
    components: {
        acceso
    },    
    data(){
        return{
           
        }
    }
}
</script>




<style >

body{
		background: #e7e7e7;
		    background-image: url("../../assets/banner_login.jpg");
			    min-height: 300px;
			    background-attachment: fixed;
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: cover;
	}
</style>
